*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;}
    
    /* Cart Item */
    .cart-item{
        width: 100%;
        height: 300px;
    }
    .cart-item-top{
        display: flex;
    }
    .cart-item-bottom{
        display: flex;
        flex-direction: column;
    }