*{
    margin: 0px;
    padding: 0px !important;
    box-sizing: border-box;
}
.footer{
    display: flex;
flex-direction: column;
background-color: #f1f1f1;
}
i{
    color: #de829e;
    margin: 10px;
}
.social{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin: 10px;
}